#profile-pic{
	width: 500px;
	height: auto;
}

.tabs{
	float: right;
	margin-right: 150px;
	position: relative;
	top: -50px;
	list-style: none;
	font-family: courier;
	font-size: 20px;
}
a:link{
	text-decoration: none;
}
a{
	color: black;
}

header{
	border: 3px dashed black;
	padding-bottom: 20px;
}

.logo{
    left: 20px;
    top: 20px;
    position: relative;
}

.section-headers{
	margin-left: 100px;
}

#about-me, #cv, #email-form{
	position: relative;
	margin-top: 75px;
}
