body {
	background-color: black;
	background-image: url("http://img13.deviantart.net/f446/i/2010/072/5/d/his_name_is_robert_paulson_by_hollowvalentyne.png");
}
.headings{
	color:white; 
	text-align:center; 
	font-family: courier;
}
h1{
	font-size: 36px;
}
p{
	text-align: center;
	border: 2px solid white;
	background-color: black;
	color: white;
	font-family: courier;
	padding: 10px;
}
.actors{
	background-color: black;
	width: 100%;
	border: 2px solid white;
	padding: 10px;
	border-spacing: 10px;
	color:white; 
	font-family:courier;
}
th{
	font-size:24px;
}
.rules{
	border: 2px solid white;
	background-color: black;
	color:white; 
	font-family:courier; 
	font-size:18px;

}
#rule1{
	display: block;
	margin: auto;
	width: 75%;
	height: 75%;
}
#buzzfeed{
	width: 20%; 
	height: 20%;
}
#soap{
	display: block;
    margin: auto;
	width: 50%;
	height: 50%;
}
#fight, #ending{
	display: block;
    margin: auto;
	width: 80%;
	height: 80%;
}
a:link{
	text-decoration: none;
	color: #003F51;
}
a:visited{
	color: #003F51;
}
a:hover{
	text-decoration: underline;
	color: #C94F64;
	font-size: 150%;
	font-family: Impact;
}