#profile-pic{
	width: 250px;
	height: auto;
}

.tabs{
	float: left;
	left: 300px;
	margin-left: 200px;
	position: relative;
	top: -50px;
}

.logo{
	display: block;
    left: 100px;
    position: relative;
}

.section-headers{
	margin-left: 100px;
}

#about-me, #cv, #email-form{
	position: relative;
	margin-top: 75px;
}
